.wrapper {
  margin-block: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;

  color: var(--zinc-100);
}

.counter p {
  font-size: 1.75em;
  font-weight: 400;

  color: var(--indigo-600);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  font-size: 1.45em;
  font-weight: 500;
  color: var(--indigo-300);

  text-transform: capitalize;
}

.tasks-list {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}
